.my-photo {
  position: relative;
  left: 100%;
  animation: photo 1s forwards;

  img {
    box-shadow: 30px 30px #508C9B;
  }
}

@keyframes photo {
  to {
    left: 0;
  }
}

.head-line .name {
  position: relative;
  left: -100%;
  animation: headLine 0.5s forwards;
}

@keyframes headLine {
  to {
    left: 0;
  }
}


.head-line .presentation {
  position: relative;
  left: -100%;
  animation: headLine 1.5s forwards;
}
